.bottle-history::-webkit-scrollbar {
  width: 0.5em;
}

.bottle-history::-webkit-scrollbar-track {
  background-color: #eeeeee;
}

.bottle-history::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 0.25em;
}

.bottle-history::-webkit-scrollbar-thumb:hover {
  background-color: #b3b3b3;
}

.perfect-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottle-count {
  padding: 5em;
}

.bottle-history {
  max-height: 50vh;
}

.bottle-icon {
  margin-right: 0.5em;
}
